<%- carousel.toString() %>


<div class="p-2 pt-5">
    <div class="experience-detail-table cols-2-fit-content">
        <span>
            Website link
        </span>
        <span>
            <a href="https://www.fexbfebui.site/"
               target="_blank"
               class="link">https://www.fexbfebui.site/</a>
        </span>


        <span>
            Position
        </span>
        <span>
            Backend developer
        </span>


        <span>
            Technology
        </span>
        <span>
            NodeJS
        </span>

        <span>
            Duration
        </span>
        <span>
            <span class="highlighted">Aug 2022</span><pre class="inline"> - </pre>
            <span class="highlighted">Dec 2022</span>
        </span>


        <span>
            Event
        </span>
        <span>
            <span class="highlighted"> Faculty Exhibition </span>
            by Faculty of Economics and Business Universitas Indonesia
        </span>
    </div>

    <ul class="list-disc p-5">
        <li>
            A ticketing app for FExB
        </li>
        <li>
            Built by a team consisting of 4 people:
            2 frontend developers
            and
            2 backend developers
        </li>
        <li>
            Some frameworks and libraries used in this projects are
            <span class="highlighted">Express</span> and
            <span class="highlighted">Prisma</span>
        </li>
    </ul>
</div>
