<%- carousel.toString() %>


<div class="p-2 pt-5
            grid grid-cols-1 sm:grid-cols-2 justify-evenly">
    <div class="pb-5 w-fit">
        <span class="text-xl highlighted font-bold">
            Lead of Competitive Programming (2022)
        </span>

        <div class="experience-detail-table cols-2-fit-content p
                    t-1 pl-5">
            <span> Position </span><span> Lead </span>
            <span> Division </span><span> Competitive Programming </span>
            <span> Start </span><span> Mar 2022 </span>
            <span> End </span><span> Present </span>
        </div>
    </div>

    <div class="pb-5 w-fit">
        <span class="text-xl highlighted font-bold">
            Member of Competitive Programming (2021)
        </span>

        <div class="experience-detail-table cols-2-fit-content p
                        t-1 pl-5">
            <span> Position </span><span> Member </span>
            <span> Division </span><span> Competitive Programming </span>
            <span> Start </span><span> Mar 2021 </span>
            <span> End </span><span> Jan 2022 </span>
        </div>
    </div>
</div>
