
<div class="p-2 pt-0
        grid grid-cols-1 sm:grid-cols-2 justify-evenly">
    <% for (const asdosExperience of asdosExperiences){ %>
        <div class="pb-5 w-fit">
            <span class="text-xl highlighted">
                <%- asdosExperience.courseName %>
            </span>

            <div class="experience-detail-table cols-2-fit-content p
                        t-1 pl-5">
                <span>
                    Term
                </span>
                <span>
                    <%- asdosExperience.courseTerm %>
                </span>


                <span>
                    Start
                </span>
                <span>
                    <%- asdosExperience.startingMonthYear %>
                </span>


                <span>
                    End
                </span>
                <span>
                    <%- asdosExperience.endingMonthYear %>
                </span>
            </div>
        </div>

    <% } %>
</div>
