:root {
    --main-background-grad-start: #090a0f;
    --main-background-grad-end: #1b2735;
    --tosca: #0fa4c2;

    --default-box-background-color: #373D5C;
    --default-box-button-color: #5D689C;

    /*--default-box-background-color: #0A6578;*/
    /*--default-box-button-color: #1C7B8E;*/

    /*--default-box-background-color: #08505E;*/
    /*--default-box-button-color: #186878;*/
}

