

:root {
    --main-background-grad-start: #090a0f;
    --main-background-grad-end: #1b2735;

    --main-div: #005282;
    --main-orange: #E04D01;
    --light-orange: #FF7700;
}

body, html{
    margin: 0;
    padding: 0;
}

body {
    /*background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);*/
    background: linear-gradient(var(--main-background-grad-start) 0%, var(--main-background-grad-end) 100%);
    color: var(--main-background-grad-start);
    height: 100vh;

}