@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
    margin: 0;
    padding: 0;
}

#main-stack-layout {
    /*background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);*/
    background: linear-gradient(var(--main-background-grad-start) 0%,
                var(--main-background-grad-end) 100%);
    color: var(--main-background-grad-start);
}

.stack{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, fit-content(100%));
}

.content-section-container{
    position: relative;
    z-index: 3;
    color: white;
    grid-column: 1;

    margin-top: 5rem;
    margin-bottom: 3rem;
}

.ending-section{
    margin-bottom: 3rem;
}

.section-gradient-effect{
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.horizontally-centerize {
    flex-direction: column;
    align-items: center;
}

.full-height {
    height: 100%;
}

.no-js .hidden-on-js-not-loaded{
    display: none;
}
.js .hidden-on-js-loaded{
    display: none;
}


.thumbnail-box{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background-image: var(--img-url);
    background-repeat: no-repeat;
    background-size: cover;
}


.font-white {
    --font-color: white;
}

.font-tosca {
    --font-color: var(--tosca);
}

* {
    color: var(--font-color);
    text-shadow: 0 0 3px var(--font-color);
}

.shadow-1px-1px{
    /*noinspection CssUnresolvedCustomProperty,CssInvalidFunction*/
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
                1px 1px 2px 0 var(--tw-shadow-color);
}

.stable-height-for-animating-text{
    min-height: 5.5rem;
    min-width: 10px;
}




@media only screen and (max-width: 1030px) {
    html {
        font-size: 18px;
    }
}

@media only screen and (max-width: 770px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 370px) {
    html {
        font-size: 14px;
    }
}


@media only screen and (min-width: 1030px) {
    html {
        font-size: 20px;
    }
}

@media only screen and (min-width: 2500px) {
    html {
        font-size: 24px;
    }
}