@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
    margin: 0;
    padding: 0;
}

body {
    /*background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);*/
    background: linear-gradient(var(--main-background-grad-start) 0%, var(--main-background-grad-end) 100%);
    color: var(--main-background-grad-start);
    height: 3000px;
}

.stack{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.stacked{
    grid-row: 1;
    grid-column: 1;
}

.horizontally-centerize {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-height {
    height: 100%;
}




.font-white {
    --font-color: white;
}

.font-tosca {
    --font-color: var(--tosca);
}

.font-light-orange {
    --font-color: var(--light-orange);
}

* {
    color: var(--font-color);
    text-shadow: 0 0 3px var(--font-color);
}