:root {
    --4-point-star-narrow-path:
            path("M 50 0 C 50 42 42 50 0 50 C 42 50 50 58 50 100 C 50 58 58 50 100 50 C 58 50 50 42 50 0");
    --4-point-star-wide-path:
            path("M 50 0 C 50 40 30 50 0 50 C 30 50 50 70 50 100 C 50 70 70 50 100 50 C 70 50 50 40 50 0");
}


.star-effect-svg {
    position: relative;
    z-index: 2;
    grid-column: 1;
    grid-row: 1/-1;

    height: 100%;
    width: 100%;
}

.star-effect-svg.scene .inner-3th{
    transform: translate3d(calc(12.0rem * var(--data-depth)), 0, 0);
}
.star-effect-svg.scene .inner-inner{
    animation-name: three-petal-rose-rotation-animation;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-delay: 0ms;
    animation-timing-function: linear;

    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: relative;
    display: block;
    left: 0;
    top: 0;
}
@keyframes three-petal-rose-animation {
    /* circle-like, with 12rem radius, and circle_accuracy = 16 (that means there's 16+1 corner) */
    0.0% {transform: translate3d(calc(   12.0rem * var(--data-depth)), calc(    0.0rem * var(--data-depth)), 0px);} 6.25% {transform: translate3d(calc(  11.09rem * var(--data-depth)), calc(   4.59rem * var(--data-depth)), 0px);} 12.5% {transform: translate3d(calc(   8.49rem * var(--data-depth)), calc(   8.49rem * var(--data-depth)), 0px);}18.75% {transform: translate3d(calc(   4.59rem * var(--data-depth)), calc(  11.09rem * var(--data-depth)), 0px);} 25.0% {transform: translate3d(calc(    0.0rem * var(--data-depth)), calc(   12.0rem * var(--data-depth)), 0px);}31.25% {transform: translate3d(calc(  -4.59rem * var(--data-depth)), calc(  11.09rem * var(--data-depth)), 0px);} 37.5% {transform: translate3d(calc(  -8.49rem * var(--data-depth)), calc(   8.49rem * var(--data-depth)), 0px);}43.75% {transform: translate3d(calc( -11.09rem * var(--data-depth)), calc(   4.59rem * var(--data-depth)), 0px);} 50.0% {transform: translate3d(calc(  -12.0rem * var(--data-depth)), calc(    0.0rem * var(--data-depth)), 0px);}56.25% {transform: translate3d(calc( -11.09rem * var(--data-depth)), calc(  -4.59rem * var(--data-depth)), 0px);} 62.5% {transform: translate3d(calc(  -8.49rem * var(--data-depth)), calc(  -8.49rem * var(--data-depth)), 0px);}68.75% {transform: translate3d(calc(  -4.59rem * var(--data-depth)), calc( -11.09rem * var(--data-depth)), 0px);} 75.0% {transform: translate3d(calc(   -0.0rem * var(--data-depth)), calc(  -12.0rem * var(--data-depth)), 0px);}81.25% {transform: translate3d(calc(   4.59rem * var(--data-depth)), calc( -11.09rem * var(--data-depth)), 0px);} 87.5% {transform: translate3d(calc(   8.49rem * var(--data-depth)), calc(  -8.49rem * var(--data-depth)), 0px);}93.75% {transform: translate3d(calc(  11.09rem * var(--data-depth)), calc(  -4.59rem * var(--data-depth)), 0px);}100.0% {transform: translate3d(calc(   12.0rem * var(--data-depth)), calc(   -0.0rem * var(--data-depth)), 0px);}
}

@keyframes three-petal-rose-rotation-animation {
    /* circle-like, with 12rem radius, and circle_accuracy = 16 (that means there's 16+1 corner) */
    0.0% {transform: rotate(0deg);}
    50.0% {transform: rotate(180deg);}
    100.0% {transform: rotate(360deg);}
}



.normal-star-path {
    fill: rgba(255, 255, 255, 1);
}

.four-point-star-path {
    filter: drop-shadow(0px 0px 5px rgba(240, 240, 240, 1));

    d: var(--4-point-star-narrow-path);
    animation-name: four_point_star_grow_shrink_animation;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.fixed-pos-for-mobile {
    position: fixed;
    left: 0;
    top: 0;
}


@keyframes four_point_star_grow_shrink_animation {
    0% {
        d: var(--4-point-star-narrow-path);
    }

    50% {
        d: var(--4-point-star-wide-path);
    }

    100% {
        d: var(--4-point-star-narrow-path);
    }
}