<div class="content-section-container h-screen flex flex-col justify-center"
     style="grid-row: <%- rowPos %>;">
    <h1 class="text-7xl m-5 font-white text-center">
        Hello!
    </h1>
    <h2 class="text-4xl sm:text-5xl text-center inline-block"
        style="min-height: 8.5rem;">
                        <span class="font-white stable-height-for-animating-text">
                            I'm Nuel,

                            and I'm a
                            <br class="inline lg:hidden">
                        </span>

        <span class="typing-animation not-ready font-tosca inline-block">
                            <!-- TODO
                                Hilangkan flash software engineer ketika page
                                baru saja di-load
                            -->
                            <span data-order="1" class="default">
                                <!--
                                Node, you can add this attribute to the span: ontypingthis="something();"
                                if you wish to handle "I'm a..." vs "I'm an..." situation.
                                -->

                                software engineer
                            </span>
                            <span data-order="2" class="hidden-on-js-not-loaded">
                                web developer
                            </span>
                            <span data-order="3" class="max-sm:text-4xl hidden-on-js-not-loaded">
                                student of Universitas Indonesia
                            </span>

                            <span class="excluded-from-animation inline-block">
                                <!--
                                dummy element to keep the text position stable
                                across whole phase of the animation
                                -->
                            </span>
                        </span>
    </h2>
</div>