<div id="experiences" class="flex flex-col items-center mt-10">
    <h1 class="text-4xl">
        Experiences
    </h1>

    <% Object.keys(experienceGroups).forEach(function(experienceGroupName){ %>
    <% var experiences = experienceGroups[experienceGroupName]; %>
    <div class="flex flex-col items-center mt-5">
        <h2 class="text-2xl mb-3">
            <%= experienceGroupName %>
        </h2>

        <%- include("used-templates/experience-box-template.ejs", {experiences: experiences}) %>
    </div>
    <% }) %>
</div>