<div id="my-cv"
     class="min-h-[15rem] content-section-container flex flex-col items-center justify-center"
     style="grid-row: <%- rowPos %>;">

    <h1 class="text-4xl">
        CV
    </h1>


    <a target="_blank"
       href="https://docs.google.com/document/d/1EZs_P-6ambL_914v7y9I08K3JlVgIRwz9Y5OWgO6MtM/edit?usp=sharing"
        class="inline-block m-10">
        <div class="open-my-cv-btn cv-thumbnail-box">
            <div class="cv-thumbnail-box">

            </div>
            <div class="text-center flex items-center ml-2">
                Open my latest CV
            </div>
        </div>
    </a>
</div>