<div id="my-cv"
     class="min-h-[15rem] content-section-container flex flex-col items-center justify-center"
     style="grid-row: <%- rowPos %>;">

    <h1 class="text-4xl">
        CV
    </h1>


    <a target="_blank"
       href="https://docs.google.com/document/d/1bAhEAcQ8qpY-eYd6YdHL-ud5v2c5Ncin/edit?usp=sharing&ouid=101110040134921443871&rtpof=true&sd=true">
        <div class="open-my-cv-btn cv-thumbnail-box m-10">
            <div class="cv-thumbnail-box">

            </div>
            <div class="text-center flex items-center ml-2">
                Open my latest CV
            </div>
        </div>
    </a>
</div>