<div class="carousel" id="<%- carouselId %>">
    <div class="carousel-stack">
        <div class="prev-next-container prev">
            <span class="prev-icon"></span>
        </div>
        <div class="prev-next-container next">
            <span class="next-icon"></span>
        </div>

        <div class="carousel-stacked content-layer full">
        </div>
        <template class="content-template">
            <img class="content"
                 src="/img/experiences/fexb/main-page-1.png">
            </img>
            <img class="content"
                 src="/img/experiences/fexb/main-page-2.png">
            </img>
            <img class="content"
                 src="/img/experiences/fexb/tickets.png">
            </img>
        </template>

    </div>
</div>

<script>
    var carouselId = "<%- carouselId %>";

    $(document).ready(() => {
        initializeCarousel(carouselId);
    });
</script>