<div id="a"
     class="carousel">
    <div class="carousel-stack">
        <div class="carousel-stacked control-layer">

        </div>
        <div class="carousel-stacked content-layer">
            <img class="content active"
                 src="/img/experiences/fexb/main-page-1.png">

            </img>
            <img class="content not-active"
                 style="background-image: url(&quot;/img/experiences/fexb/main-page-2.png&quot;);">

            </img>
            <img class="content not-active"
                 style="background-image: url(&quot;/img/experiences/fexb/tickets.png&quot;);">

            </img>
        </div>
    </div>
</div>