<div class="carousel" id="<%- carouselId %>">
    <div class="carousel-stack">
        <div class="prev-next-container prev">
            <span class="prev-icon"></span>
        </div>
        <div class="prev-next-container next">
            <span class="next-icon"></span>
        </div>

        <div class="carousel-stacked content-layer full">
        </div>
        <template class="content-template">
            <!-- TODO -->
            <% for (const imgSource of imgSources){ %>
                <img class="content"
                     src="<%- imgSource %>">
            <% } %>
        </template>

    </div>
</div>

<script>
    (() => {
        let carouselId = "<%- carouselId %>";

        $(document).ready(() => {
            initializeCarousel(carouselId);
        });
    })();
</script>