<div id="a"
     class="carousel">
    <div class="carousel-stack">
        <div class="carousel-stacked control-layer">

        </div>
        <div class="carousel-stacked content-layer">
            <img class="content active"
                 src="/img/experiences/fexb/main-page-1.png">
            </img>
            <img class="content not-active"
                 src="/img/experiences/fexb/main-page-2.png">
            </img>
            <img class="content not-active"
                 src="/img/experiences/fexb/tickets.png">
            </img>
        </div>
    </div>
</div>



<script>
    initializeCarousel("a");
</script>