<template id="toast-template">
    <div class="toast-box
                flex items-center w-full max-w-xs p-4 space-x-4
                text-gray-500 bg-gray-50 divide-x divide-gray-200
                rounded-lg shadow
                space-x " role="alert">
        <img class="toast-logo w-8 h-8">
        <div class="toast-msg pl-4"></div>
    </div>
</template>